<div class="container" style="margin-top:30px">
    <div class="content">
      <div class="jumbotron">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8">
            <form  [formGroup]="formTransfer" (ngSubmit)="submitTransfer()">
              <div class="form-group">
                <label>Transfer From </label>
                <select  formControlName="accDebit" name="accDebit" class="custom-select">
                    <option  *ngFor="let ac of accounts" [value]="ac.accountNumber" selected>{{ac.name}} ({{ac.accountNumber}})</option>
                    <!-- <option value="volvo">Akun 1</option>
                    <option value="fiat">Akun 2</option> -->
                  </select>
              </div>
              <div class="form-group">
                <label>Recipient's account</label>
                <input formControlName="accCredit"  class="form-control" id="recipientAcc">
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input formControlName="amount" class="form-control" id="amount">
              </div>
              <div style="text-align: center">
                <button type="submit" data-dismiss="modal" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
