<app-navbar-home></app-navbar-home>
<section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-service text-uppercase">Benefits</h2>
          <h3 class="section-subheading text-muted">6 reasons for forex wallet business.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <em class="fas fa-circle fa-stack-2x text-primary"></em>
            <em class="fas fa-shopping-cart fa-stack-1x fa-inverse"></em>
          </span>
          <h4 class="service-heading">Saving Time</h4>
          <p class="text-muted">The forex market is active 24 hours, five days a week. So, forex trading can be done as a full job or a side job. If we already have a permanent job, we can still trade foreign exchange between breaks or after work hours.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <em class="fas fa-circle fa-stack-2x text-primary"></em>
            <em class="fas fa-laptop fa-stack-1x fa-inverse"></em>
          </span>
          <h4 class="service-heading">Easy to Access</h4>
          <p class="text-muted">Not only is it not limited by time, forex trading is not limited by location. The forex market is not like the fruit market or animal market that has a physical location. Technological advancements allow online transactions with computers, laptops, tablets, or even smart phones. And this is what makes the benefits of forex trading most important: it can be done anywhere, provided there are gadgets and internet signals.</p>
        </div>

        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <em class="fas fa-circle fa-stack-2x text-primary"></em>
            <em class="fas fa-lock fa-stack-1x fa-inverse"></em>
          </span>
          <h4 class="service-heading">Can be with minimum capital</h4>
          <p class="text-muted">This is because forex brokers provide leverage, namely loan-like facilities that can increase the purchasing power of our capital proportionally. For example, we have 100 Dollars of capital, then use 1: 100 leverage, so the reality is that we have a capital of 10,000 Dollars. Of course the profits and losses will also be adjusted proportionally.</p>
        </div>

        <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <em class="fas fa-circle fa-stack-2x text-primary"></em>
              <em class="fas fa-lock fa-stack-1x fa-inverse"></em>
            </span>
            <h4 class="service-heading">Forex trading learning material 
                Is available free</h4>
            <p class="text-muted">On the internet, there are a lot of free forex trading materials that are accessible to anyone, both in the form of articles, slides, and videos. Many seminars, workshops and webinars are held everywhere, both paid and free.</p>
          </div>
          <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <em class="fas fa-circle fa-stack-2x text-primary"></em>
                <em class="fas fa-lock fa-stack-1x fa-inverse"></em>
              </span>
              <h4 class="service-heading">Train us to be disciplined 
                  in managing investment funds
                  </h4>
              <p class="text-muted">The benefits of seventh forex trading are not directly in the form of money, but experience. If you have a clothing store, for example, you might be able to freely pick up a little daily cash for various personal needs. However, forex trading is very tight and we cannot be as careless as that. To succeed, you need a totality in managing funds that is different from other businesses. This, can only be felt after we really trade forex.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                  <em class="fas fa-circle fa-stack-2x text-primary"></em>
                  <em class="fas fa-lock fa-stack-1x fa-inverse"></em>
                </span>
                <h4 class="service-heading">Can get two-way benefits 
                    from trading
                    </h4>
                <p class="text-muted">If you only do regular forex business, then you will only profit if the exchange rate rises. However, in forex, all foreign exchange is traded in pairs, so we can still profit even if prices rise or fall. For example, the EUR / USD currency pair rises and at that time we open the "buy" trading position, then we profit from the strengthening of the Euro against the US Dollar. Whereas if the EUR / USD goes down and we open trading positions "sell", then we profit from the strengthening of the US Dollar against the Euro.</p>
              </div>
      </div>
    </div>
  </section>
  <app-footer-home></app-footer-home>