<div class="container" style="margin-top:30px">
  <div style="text-align: center">
    <div class="content">

        <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
                <select class="form-control" id="sel1" name="sellist1">
                    <option>Akun 1</option>
                    <option>Akun 2</option>
                    <option>Akun 3</option>
                    <option>Akun 4</option>
                  </select>
            </div>
            <div class="col-1"></div>
          </div>

    </div>
  </div>
</div>