<app-navbar-home></app-navbar-home>
<section class="page-section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Register</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="formRegister" (ngSubmit)="register()" id="contactForm" name="sentMessage" novalidate="novalidate">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input formControlName="firstName" class="form-control" id="firstName" type="text" placeholder="First Name *" required="required"
                  data-validation-required-message="Please enter your First Name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="lastName" class="form-control" id="lastName" type="text" placeholder="Last Name *" required="required"
                  data-validation-required-message="Please enter your Last Name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="birthDate" class="form-control" id="birthDate" type="date" placeholder="Birth Date *" required="required"
                  data-validation-required-message="Please enter your Birth Date.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="nik" class="form-control" id="nik" type="text" placeholder="NIK *" required="required"
                  data-validation-required-message="Please enter your NIK.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="mothersName" class="form-control" id="mothersName" type="text" placeholder="Mother's Name *" required="required"
                  data-validation-required-message="Please enter your Mother's Name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="phone" class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required"
                  data-validation-required-message="Please enter your phone number.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">

              <div class="form-group">
                <input formControlName="email" class="form-control" id="email" type="email" placeholder="Your Email *" required="required"
                  data-validation-required-message="Please enter your Email.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="npwp" class="form-control" id="npwp" type="text" placeholder="Your NPWP *" required="required"
                  data-validation-required-message="Please enter your NPWP.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="username" class="form-control" id="username" type="text" placeholder="Your Username *" required="required"
                  data-validation-required-message="Please enter your Username.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <input formControlName="password" class="form-control" id="password" type="password" placeholder="Your Password *" required="required"
                  data-validation-required-message="Please enter your Password.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                  <textarea formControlName="address" class="form-control" id="address" type="text" placeholder="Your Address *" required="required" data-validation-required-message="Please enter a Address."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="col-lg-12 text-center">
              <div class="clearfix">
              <div id="success"></div>
              <button id="sendMessageButton" class="btn btn-primary  text-uppercase" type="submit">Submit</button>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer-home></app-footer-home>