<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

<div class="nav-side-menu">
  <div class="brand">Brand Logo</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">

      <li routerLink="/customer/profile">
        <a>
          <i class="fas fa-user-tie fa-lg"></i>Profile
        </a>
      </li>

      <li routerLink="/account">
        <a>
          <i class="fas fa-user-tie fa-lg"></i> Account
        </a>
      </li>

      <li routerLink="/wallet">
        <a><i class="fa fa-users fa-lg"></i> Wallet</a>
      </li>
      <li data-toggle="collapse" data-target="#products" class="collapsed">
        <a><i class="fab fa-studiovinari fa-lg"></i> Transaction <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li routerLink="/transaction/topup"><a>Top-Up Account</a></li>
        <li routerLink="/transaction/transfer"><a>Transfer</a></li>
        <li routerLink="/transaction"><a>History</a></li>
      </ul>
      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a><i class="fab fa-pagelines fa-lg"></i> Forex Trading <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li routerLink="buyClick()"><a></a>Buy Dolars</li>
        <li routerLink="sellClick()"><a></a>Sell Dolars</li>
        <li routerLink="/forex"><a></a>Charts</li>
      </ul>
    </ul>
  </div>
</div>