<app-navbar-home></app-navbar-home>


  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
          <div class="intro-lead-in">Welcome To Our Project!</div>
        <div class="intro-heading text-uppercase">Bootcamp App</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" (click)="loginClick()">LOGIN</a>
      </div>
    </div>
  </header>
  <section class="page-section" id="services">
</section>


  <app-footer-home></app-footer-home> 